@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap');
@font-face {
  font-family: Proxima Nova;
  src: url(vendors/fonts/ProximaNova/ProximaNovaThin.otf);
  font-weight: 100;
}
@font-face {
  font-family: Proxima Nova;
  src: url(vendors/fonts/ProximaNova/ProximaNovaAltLight.otf);
  font-weight: 300;
}
@font-face {
  font-family: Proxima Nova;
  src: url(vendors/fonts/ProximaNova/ProximaNovaRegular.otf);
  font-weight: 400;
}
@font-face {
  font-family: Proxima Nova;
  src: url(vendors/fonts/ProximaNova/ProximaNovaBold.otf);
  font-weight: 700;
}
@font-face {
  font-family: Proxima Nova;
  src: url(vendors/fonts/ProximaNova/ProximaNovaExtrabold.otf);
  font-weight: 800;
}
@font-face {
  font-family: Proxima Nova;
  src: url(vendors/fonts/ProximaNova/ProximaNovaBlack.otf);
  font-weight: 900;
}
