// Colors 
$white: #FFFFFF;
$black: #000000;
$dark-gray: #27282d;
$blue: #4d6a92;
$light-blue: #a4c0db;
$green: #acd1c8;
$blue-gray: #8590b0;

// Font weights
$light: 300;
$regular: 400;
$semibold: 600;
$bold: 700;
$extra-bold: 800;
$tblack: 900;

// Base Font
$base-font-family: 'Open Sans', sans-serif;
$base-font-weight: $regular;
$base-font-size: 16px;
$base-line-height: 1.4;

