footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    background: $white;
    
    .copyright{
        font-family: 'Proxima Nova';
        font-size: 15px;
        color: #464646;
    }
}