footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    background: $white;
    
    @include respond-to('xsmall'){
        display: block;
        text-align: center;
        margin-top: 30px;
    }
    
    .copyright{
        font-family: 'Proxima Nova';
        font-size: 15px;
        color: #464646;
        
        @include respond-to('xsmall'){
            margin-bottom: 20px;
        }
    }
}