header{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px 10px 10px;
    z-index: 9;
    
    .logo{
        width: 150px;
        
        @include respond-to('xsmall'){
            width: 200px;
        }
        
        @include respond-to('small'){
            width: 120px;
        }
        
        @include respond-to('medium'){
            width: 200px;
        }
        
        @include respond-to('large'){
            width: 246px;
        }
    }
    
    
    .icon-menu{
        position: relative;
        width: 33px;
        height: 26px;
        margin-top: 8px;
        cursor: pointer;

        .line{
            position: absolute;
            top: 0;
            width: 100%;
            height: 3px;
            background: #BFBFBF;
            transition: all 0.5s;
            border-radius: 5px;

            &:nth-of-type(2){
                top: calc(50% - 1px);
            }

            &:nth-of-type(3){
                top: initial;
                bottom: 0;
            }
        }
    }
    
    .close-menu{
        position: absolute;
        top: 50px;
        right: 15px;
        width: 28px;
        height: 26px;
        margin-top: 8px;
        cursor: pointer;
        margin-bottom: 50px;
        z-index: 1;
        display: block;
        
        .line{
            position: absolute;
            top: 0;
            width: 100%;
            height: 3px;
            background: $white;
            transition: all 0.5s;
            border-radius: 5px;
            transform: rotate(45deg);
            
            &:nth-of-type(2){
                transform: rotate(-45deg);
            }
        }
    }
    
    .seccions-nav{
        
        @include respond-to('xsmall'){
            position: fixed;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            background: rgba(0, 0, 0, 0.5);
            opacity: 0;
            visibility: hidden;
            transition: all 0.5s;
            
            &.show{
                opacity: 1;
                visibility: visible;
                transition: all 0.5s;
            }
        }
        
        ul{
            @include respond-to('xsmall'){
                background: #BCD0E4;
                text-align: left;
                padding-top: 50px;
                position: absolute;
                top: 25px;
                right: 0;
            }
        }
        
        li{
            display: inline-block;
            margin: 0 5px;
            vertical-align: middle;
            position: relative;
            
            @include respond-to('xsmall'){
                display: block;
                margin: 0;
            }
            
            @include respond-to('xlarge'){
                margin: 0 20px;
            }
            
            a{
                position: relative;
                color: $black;
                font-weight: $semibold;
                font-size: 10px;
                text-transform: uppercase;
                
                @include respond-to('xsmall'){
                    font-size: 20px;
                    font-family: 'Montserrat';
                    color: $white;
                    font-weight: 500;
                    display: block;
                    padding: 10px 20px;
                }
                
                @include respond-to('medium'){
                     font-size: 12px;
                }
                
                @include respond-to('xlarge'){
                    font-size: 14px;
                }
                
                &:after{
                    content: "";
                    position: absolute;
                    bottom: -10px;
                    left: 50%;
                    width: 0;
                    height: 3px;
                    background: $green;
                    transition: all 0.5s;
                }
                
                &.active{
                    font-weight: $bold;
                    
                    @include respond-to('xsmall'){
                        background: #AFBDD3;
                        font-weight: $regular;
                        
                        &:after{
                            display: none;
                        }
                    }
                }
                
                &:hover, &.active{
                    &:after{
                        left: calc(50% - 25px);
                        width: 50px;
                    }
                }
                
                &.info{
                    display: block;
                    text-indent: -9999px;
                    width: 30px;
                    height: 30px;
                    background-color: #e1e1e1;
                    background-image: url(img/info.png);
                    background-repeat: no-repeat;
                    background-size: 20px;
                    background-position: center;
                    border-radius: 30px;
                    transition: none;
                    position: relative;
                    z-index: 2;
                    
                    &:after{
                        display: none;
                    }
                    
                    @include respond-to('xsmall'){
                        display: none;
                    }
                }
            }
        }
    }
    
    .info-container{
        @include respond-to('xsmall'){
             display: none;
        }
        
        .info-dropdown{
            position: absolute;
            top: 55px;
            right: -13px;
            padding: 10px;
            background: #acbcc2;
            opacity: 0;
            visibility: hidden;
            transition: all 0.5s;
            z-index: 1;

            .novedades{
                text-align: center;
                background: #27282d;
                color: $white;
                font-size: 26px;
                font-weight: lighter;
                letter-spacing: 1px;
                padding: 5px;
                margin-top: -5px;

                &:before{
                    content: "";
                    position: absolute;
                    width: 55px;
                    height: 100px;
                    border-radius: 60px;
                    background: rgba(174,189,195,1);
                    top: -63px;
                    right: 0;
                    z-index: -1;
                }
            }
        }
        
        &:hover{
            .info-dropdown{
                opacity: 1;
                visibility: visible;
                transition: all 0.5s;
            }
        }
    }
        
}