main{
    padding-top: 120px;
    min-height: calc(100vh - 58px);
    background-image: url(img/main-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}