.page-contacto{
    @include respond-to('xsmall'){
        padding-bottom: 30px;
    }
    .title{
        margin-bottom: 50px;
    }
    
    .contact{
        max-width: 90%;
        margin: 0 auto;
    }
    
    .form-container{
        background: $white;
        padding: 20px;
        margin-bottom: 50px;

        .subtitle{
            font-size: 19px;
            
            img{
                margin-right: 10px;
            }
        }
        
        .desc{
            color: #9c9ea1;
            font-size: 17px;
        }
        
        form{
            .main-form{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                
                input{
                    border: 0;
                    min-width: 49%;
                    width: 49%;
                    margin-bottom: 2%;
                    color: $black;
                    background: #e0e5ec;
                    padding: 15px;
                    
                    @include respond-to('xsmall'){
                        width: 100%;
                    }
                    
                    &::placeholder{
                        color: $blue;
                    }
                    
                    &:focus{
                        outline: none;
                    }
                }
                
                textarea{
                    width: 100%;
                    color: $black;
                    background: #e0e5ec;
                    padding: 15px;
                    border: 0;
                    height: 270px;
                    resize: none;
                    
                    &::placeholder{
                        color: $blue;
                    }
                    
                    &:focus{
                        outline: none;
                    }
                }
            }
            
            .flex{
                display: flex;
                justify-content: space-between;
                
                .wpp{
                    margin-top: 15px;
                    a{
                        display: block;
                        padding-left: 45px;
                        background-image: url(img/icon-wpp.png);
                        background-repeat: no-repeat;
                        background-position: left center;
                        margin-top: 5px;
                        color: $blue;
                        line-height: 1.2;
                    }
                }
            }
            
            input[type='submit']{
                display: block;
                width: fit-content;
                background: #92a7bf;
                color: $white;
                letter-spacing: 2px;
                font-weight: $bold;
                padding: 15px 30px;
                border: 0;
                margin-top: 15px;
            }
            
            .checkbox-container{
                display: block;
                position: relative;
                padding-left: 20px;
                margin-top: 10px;
                cursor: pointer;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                
                
                input{
                    position: absolute;
                    opacity: 0;
                    cursor: pointer;
                    height: 15px;
                    width: 15px;
                    left: 0;
                    top: 4px;
                    z-index: 9999;
                }
                
                .checkmark{
                    position: absolute;
                    top: 4px;
                    left: 0;
                    height: 15px;
                    width: 15px;
                    border: 2px solid #92a7bf;
                    border-radius: 100%;
                }
                
                input:checked ~ .checkmark {
                    background: #92a7bf;
                }
                
                
                label{
                    line-height: 1;
                    color: #92a7bf;
                    font-size: 14px;
                    font-weight: 600;
                }
            }
        }
    }
}