.page-quienes{
    .team{
        .circle{
            @include respond-to('xxsmall'){
                .image{
                    margin-left: -30px;
                }
            }
            @include respond-to('xsmall'){
                .image{
                    transform: scale(0.7);
                    display: block;
                    margin-top: -10px;
                }
            }
            
            img{
                filter: grayscale(1);
                transition: all 0.5s;
                width: 220px;
                height: 217px;
                border-radius: 100%;
                
                &.default{
                    display: block;
                }
                &.active{
                    display: none;
                }
            }
            
            &:hover{
                img{
                    filter: grayscale(0);
                    transition: all 0.5s;
                    &.default{
                        display: none;
                    }
                    &.active{
                        display: block;
                    }
                }
            }
        }
    }
    .team-member{
        width: 100%;
        display: flex;
        align-items: center;
        position: relative;
        
        @include respond-to('xsmall'){
            padding-bottom: 500px;
        }
        
        img{
            @include respond-to('xsmall'){
                position: absolute;
                bottom: 0;
                max-height: 500px;
                display: block;
                margin: 0 auto;
                width: 100%;
                object-fit: contain;
            }
        }
        
        .description{
            max-width: 40%;
            position: relative;
            
            @include respond-to('xsmall'){
                max-width: 100%;
                padding: 20px;
            }
            
            .close-member{
                position: absolute;
                display: block;
                width: 35px;
                height: 35px;
                background: rgba(172, 209, 200, 0.8);
                border-radius: 100%;
                top: -20px;
                right: -20%;
                transition: all 0.5s;
                transform: rotate(45deg);

                &:before, &:after{
                    content: "";
                    position: absolute;
                    width: 20px;
                    height: 5px;
                    background: #fff;
                    border-radius: 10px;
                    top: 15px;
                    left: 8px;
                }

                &:after{
                    transform: rotate(90deg);
                }
            }
            
            .name{
                color: $blue-gray;
                text-align: left;
                font-size: 38px;
                font-weight: $semibold;
            }
            
            .position{
                color: #696969;
                font-size: 21px;
                font-weight: $semibold;
                margin-bottom: 50px;
            }
            
            p{
                font-size: 25px;
                
                @include respond-to('xsmall'){
                    font-size: 16px;
                }
            }
            
            .social-nav{
                margin-top: 30px;
            }
        }
    }
}