.social-nav{
    li{
        display: inline-block;
        
        a{
            display: block;
            text-indent: -9999px;
            width: 38px;
            height: 38px;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            
            &.linkedin{
                background-image: url(img/linkedin.png);
            }
            
            &.youtube{
                background-image: url(img/youtube.png);
            }
            
            &.instagram{
                background-image: url(img/instagram.png);
            }
            
            &.contacto{
                background-image: url(img/contacto.png);
            }
        }
    }
}