.main-title{
    color: $blue;
    font-size: 57px;
    font-weight: $bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: Proxima Nova;
    width: fit-content;
    line-height: 1.1;
    
    @include respond-to('xsmall'){ 
        font-size: 25px;
    }
    
    span{
        font-size: 40px; 
        
        @include respond-to('xsmall'){ 
            font-size: 16px;
        }
    }
    
}
.title{
    color: $blue;
    font-size: 42px;
    text-transform: uppercase;
    font-weight: $bold;
    letter-spacing: 2px;
    
    @include respond-to('xsmall'){ 
        font-size: 30px;
    }
}

.subtitle{
     color: $blue;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: $bold;
    line-height: 1.1; 
}

.name{
    text-align: center;
    font-size: 17px;
    color: $blue;
    margin-bottom: 5px;
    
    &.underline{
        position: relative;
        margin-bottom: 20px;
        
        &:after{
            content: "";
            position: absolute;
            bottom: -10px;
            left: calc(50% - 25px);
            width: 50px;
            height: 3px;
            background: $green;
            transition: all 0.5s;
        }
    }
}